.input {
    padding: 12px 16px;
    width: 376px;
    height: 48px;
    border: 1px solid rgb(202, 210, 214);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    transform: translateY(5px);
    margin-bottom: 32px;
}

.label {
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-right: auto;
    color: rgb(80, 94, 104);
}
