.submit {
    transform: translateY(10px);
    background-color: rgb(113, 1, 255);
    color: rgb(255,255,255);
    border: 0px;
    width: 376px;
    height: 56px;
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.cancel {
    transform: translateY(10px);
    background-color: rgb(255,255,255);
    border: 0px;
    width: 376px;
    height: 56px;
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


