.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    margin-bottom: 44px;
    &:hover{
        cursor: pointer;
    }
}

.heading {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    max-width: 376px;
    margin-bottom: 32px;
    max-height: 100%;
}

.subtitle {
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-align: left;
    color: rgb(80, 94, 104);
    max-width: 376px;
    margin-bottom: 32px;
}

.alignCenter {
    text-align: center;
}