html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

body {
    background-color: rgba(248, 249, 250, 1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: column;
}

h1, h2 ,h3:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.auth-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}