@font-face {
    font-family: 'Lexend';
    src: local('Lexend Regular'), local('Lexend-Regular'),
        url('Lexend-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: local('Lexend Medium'), local('Lexend-Medium'),
        url('Lexend-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: local('Lexend Bold'), local('Lexend-Bold'),
        url('Lexend-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

