.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(202, 210, 214);
    background-color: rgba(255, 255, 255);
    margin-right: 20px;
}

.label {
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(80, 94, 104);
}


.checkbox_wrapper {
    transform: translateY(7px);
    width: 376px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 32px;
}